<!DOCTYPE html>
<html ng-app="tasteAngularjs">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <link rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body class="container">

  <header>
    <nav>
      <div class="inner">
        <img src="../assets/twitter_logo_blue.png" height="20" />
      </div>
    </nav>
  </header>
  
  <!--
  <div class="content content-two">
    <input type="text" ng-model="className"
    class="form-control" />
    <br />
    <div ng-class="className">
      Bootstrap component
    </div>
  </div>
  -->

  
  
  <div class="content" ng-controller="tasteController">
    <div class="timeline-tweet-box">
      <div class="home-tweet-box">
        <img src="https://pbs.twimg.com/profile_images/455960725656059905/UhxENS0I_normal.jpeg"
         title="@lzizzamia">
        <div ng-hide="isOpenBox">
          <input class="form-control" ng-click="openBox()" />
        </div>
        <div ng-show="isOpenBox">
          <textarea ng-model="tweetText" 
          class="form-control" rows="3"></textarea>
          <button type="button" ng-click="createTweet()"
          class="btn btn-info btn-sm">Tweet</button>
        </div>
      </div>
    </div>

    <div class="list-group timeline">
      <div class="tweet" ng-repeat="tweet in listTweets">
        <div class="tweet-content">
          <img src="https://pbs.twimg.com/profile_images/455960725656059905/UhxENS0I_normal.jpeg"
          title="@lzizzamia">
          <div class="header">
           {{ tweet.username }}
           <i class="time">{{ tweet.timestamp | date }}</i>
          </div>
          <p ng-bind="tweet.text"></p>
        </div>
      </div>
    </div>

  </div>
  
  

  <!--
  <div class="content" ng-controller="coffeTime">

    <input type="text" class="form-control" ng-model="coffeeName"
    placeholder="Insert word to filter">

    <table class="table table-condensed">
      <tr>
        <th ng-click="orderCoffee('name')">Name</th>
        <th ng-click="orderCoffee('sfLocation')">SF Location</th>
      </tr>
      <tr ng-repeat="coffee in coffeeShopsList | filter:coffeeName | orderBy:keyToOrder">
        <td>{{ coffee.name }}</td>
        <td>{{ coffee.sfLocation }}</td>
      </tr>
    </table>
    
  </div>
  -->
  


  <footer>
    <p>
      A tasty beginning Web Dev with 
      <a href="http://angularjs.org/" target="_blank">AngularJS</a> by 
      <a href="https://twitter.com/zizzamia" target="_blank">@zizzamia</a>
    </p>
    <code>ng-app</code> <code>ng-init</code> <code>ng-bind</code>
    <code>ng-model</code> <code>ng-controller</code> <code>ng-click</code>
    <code>ng-show</code> <code>ng-hide</code> <code>ng-repeat</code>
    <code>date</code> <code>filter</code> <code>orderBy</code>
    <code>factory</code>
  </footer>
          
  <script>
    var username = 'lzizzamia';
    var data = { 'placeholder': "Che c'e' di nuovo?" };

    angular.module('tasteAngularjs', [])
    .factory('timeline', function () {
      var listTweets = [
        { 'username': username, 'text': 'Ciao', 'timestamp': 1410474730056 },
        { 'username': username, 'text': 'Ciao due', 'timestamp': 1410474617870 }
      ];
      return {
        'get': function () {
          return listTweets;
        },
        'create': function (text) {
          var tweet = {
            'username': username,
            'timestamp': Date.now(),
            'text': text
          };
          listTweets.unshift(tweet);
        }
      }
    })
    .controller('tasteController', function($scope, timeline) {
      $scope.username = 'lzizzamia';
      $scope.isOpenBox = false;

      $scope.listTweets = timeline.get();

      $scope.openBox = function () {
        $scope.isOpenBox = true;
      }

      $scope.createTweet = function () {
        timeline.create($scope.tweetText);
        $scope.tweetText = '';
        $scope.isOpenBox = false;
      };
    })
    .controller('coffeTime', function($scope) { 

      $scope.coffeeShopsList = [
        { 'name': 'Ritual Coffee', 'sfLocation': 'Hayes Valley' },
        { 'name': 'Blue Bottle', 'sfLocation': 'Hayes Valley' },
        { 'name': 'Coffee Bar', 'sfLocation': 'FiDi' }
      ];

      $scope.orderCoffee = function (coffeeKey) {
        if ($scope.keyToOrder === coffeeKey) {
          $scope.keyToOrder = '-' + coffeeKey;
        } else {
          $scope.keyToOrder = coffeeKey;
        }
      };
    })
  </script>
</body>
</html>